html,
body,
#app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: #f7f7ff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}